.black {
  background-color: #012326;
}

.white {
  background-color: #F2E7DC;
}

.color1 {
  background-color: #FD9A8A;
}

.color2 {
  background-color: #A5AF93;
}

.color3 {
  background-color: #6B5D62;
}

.color4 {
  background-color: #B3A1A1;
}

.color5 {
  background-color: #99B06E;
}

.black50 {
  background-color: #01232688;
}

.white50 {
  background-color: #F2E7DC88;
}

.color150 {
  background-color: #FD9A8A88;
}

.color250 {
  background-color: #A5AF9388;
}

.color350 {
  background-color: #6B5D6288;
}

.color450 {
  background-color: #B3A1A188;
}

.color550 {
  background-color: #99B06E88;
}

.blackshadow {
  text-shadow: #012326 0 .125rem;
}

.whiteshadow {
  text-shadow: #F2E7DC 0 .125rem;
}

.color1shadow {
  text-shadow: #FD9A8A 0 .125rem;
}

.color2shadow {
  text-shadow: #A5AF93 0 .125rem;
}

.color3shadow {
  text-shadow: #6B5D62 0 .125rem;
}

.color4shadow {
  text-shadow: #B3A1A1 0 .125rem;
}

.color5shadow {
  text-shadow: #99B06E 0 .125rem;
}

.blacktext {
  color: #012326;
}

.whitetext {
  color: #F2E7DC;
}

.color1text {
  color: #FD9A8A;
}

.color2text {
  color: #A5AF93;
}

.color3text {
  color: #6B5D62;
}

.color4text {
  color: #B3A1A1;
}

.color5text {
  color: #99B06E;
}

.titleshadow {
  /* color 5 */
  text-shadow: #99B06E 0 .85rem,
    /* color 1 */
    #FD9A8A 0 1.7rem;
}

.titleshadowalt {
  /* color 3 */
  text-shadow: #6B5D62 0 .85rem,
    /* color 1 */
    #FD9A8A 0 1.7rem;
}

body {
  /* white */
  background-color: #F2E7DC;
  /* black */
  color: #012326;
}

a {
  /* color 5 */
  color: #99B06E;
}

a:visited {
  /* color 1 */
  color: #FD9A8A;
}

.headeritem:hover {
  /* color 4 */
  color: #B3A1A1;
}

.headeritemmobile:visited,
.headeritem:visited {
  /* white */
  color: #F2E7DC;
}

.curvedbox {
  /* color3 */
  border: 3px solid #6B5D62
}

.button {
  /* black50 */
  box-shadow: 0 .4rem #01232688;
}

.button:hover {
  /* white */
  text-shadow: #F2E7DC 0 .125rem;
}

.bigbutton {
  /* black50 */
  box-shadow: 0 .75rem #01232688;
}

.bigbutton:hover {
  /* black */
  text-shadow: #012326 0 .125rem;
}

.contact a {
  /* color 4 */
  color: #B3A1A1;
}

.testimonial {
  /* color 4 */
  border-left: 3px solid #B3A1A1;
}