.black {
  background-color: #012326;
}

.white {
  background-color: #F2E7DC;
}

.color1 {
  background-color: #59AA4C;
}

.color2 {
  background-color: #9F5272;
}

.color3 {
  background-color: #7A58AF;
}

.color4 {
  background-color: #F8B334;
}

.color5 {
  background-color: #EE5029;
}

.black50 {
  background-color: #01232688;
}

.white50 {
  background-color: #F2E7DC88;
}

.color150 {
  background-color: #59AA4C88;
}

.color250 {
  background-color: #9F527288;
}

.color350 {
  background-color: #7A58AF88;
}

.color450 {
  background-color: #F8B33488;
}

.color550 {
  background-color: #EE502988;
}

.blackshadow {
  text-shadow: #012326 0 .125rem;
}

.whiteshadow {
  text-shadow: #F2E7DC 0 .125rem;
}

.color1shadow {
  text-shadow: #59AA4C 0 .125rem;
}

.color2shadow {
  text-shadow: #9F5272 0 .125rem;
}

.color3shadow {
  text-shadow: #7A58AF 0 .125rem;
}

.color4shadow {
  text-shadow: #F8B334 0 .125rem;
}

.color5shadow {
  text-shadow: #EE5029 0 .125rem;
}

.blacktext {
  color: #012326;
}

.whitetext {
  color: #F2E7DC;
}

.color1text {
  color: #59AA4C;
}

.color2text {
  color: #9F5272;
}

.color3text {
  color: #7A58AF;
}

.color4text {
  color: #F8B334;
}

.color5text {
  color: #EE5029;
}

.titleshadow {
  /* color 5 */
  text-shadow: #EE5029 0 .85rem,
    /* color 1 */
    #59AA4C 0 1.7rem;
}

.titleshadowalt {
  /* color 3 */
  text-shadow: #7A58AF 0 .85rem,
    /* color 1 */
    #59AA4C 0 1.7rem;
}

body {
  /* white */
  background-color: #F2E7DC;
  /* black */
  color: #012326;
}

a {
  /* color 5 */
  color: #EE5029;
}

a:visited {
  /* color 1 */
  color: #59AA4C;
}

.headeritem:hover {
  /* color 4 */
  color: #F8B334;
}

.headeritemmobile:visited,
.headeritem:visited {
  /* white */
  color: #F2E7DC;
}

.curvedbox {
  /* color3 */
  border: 3px solid #7A58AF
}

.button {
  /* black50 */
  box-shadow: 0 .4rem #01232688;
}

.button:hover {
  /* white */
  text-shadow: #F2E7DC 0 .125rem;
}

.bigbutton {
  /* black50 */
  box-shadow: 0 .75rem #01232688;
}

.bigbutton:hover {
  /* black */
  text-shadow: #012326 0 .125rem;
}

.contact a {
  /* color 4 */
  color: #F8B334;
}

.testimonial {
  /* color 4 */
  border-left: 3px solid #F8B334;
}