.black {
  background-color: #012326;
}

.white {
  background-color: #F2E7DC;
}

.color1 {
  background-color: #C04BF2;
}

.color2 {
  background-color: #6232A6;
}

.color3 {
  background-color: #20448C;
}

.color4 {
  background-color: #3D71D9;
}

.color5 {
  background-color: #144673;
}

.black50 {
  background-color: #01232688;
}

.white50 {
  background-color: #F2E7DC88;
}

.color150 {
  background-color: #C04BF288;
}

.color250 {
  background-color: #6232A688;
}

.color350 {
  background-color: #20448C88;
}

.color450 {
  background-color: #3D71D988;
}

.color550 {
  background-color: #14467388;
}

.blackshadow {
  text-shadow: #012326 0 .125rem;
}

.whiteshadow {
  text-shadow: #F2E7DC 0 .125rem;
}

.color1shadow {
  text-shadow: #C04BF2 0 .125rem;
}

.color2shadow {
  text-shadow: #6232A6 0 .125rem;
}

.color3shadow {
  text-shadow: #20448C 0 .125rem;
}

.color4shadow {
  text-shadow: #3D71D9 0 .125rem;
}

.color5shadow {
  text-shadow: #144673 0 .125rem;
}

.blacktext {
  color: #012326;
}

.whitetext {
  color: #F2E7DC;
}

.color1text {
  color: #C04BF2;
}

.color2text {
  color: #6232A6;
}

.color3text {
  color: #20448C;
}

.color4text {
  color: #3D71D9;
}

.color5text {
  color: #144673;
}

.titleshadow {
  /* color 5 */
  text-shadow: #144673 0 .85rem,
    /* color 1 */
    #C04BF2 0 1.7rem;
}

.titleshadowalt {
  /* color 3 */
  text-shadow: #20448C 0 .85rem,
    /* color 1 */
    #C04BF2 0 1.7rem;
}

body {
  /* white */
  background-color: #F2E7DC;
  /* black */
  color: #012326;
}

a {
  /* color 5 */
  color: #144673;
}

a:visited {
  /* color 1 */
  color: #C04BF2;
}

.headeritem:hover {
  /* color 4 */
  color: #3D71D9;
}

.headeritemmobile:visited,
.headeritem:visited {
  /* white */
  color: #F2E7DC;
}

.curvedbox {
  /* color3 */
  border: 3px solid #20448C
}

.button {
  /* black50 */
  box-shadow: 0 .4rem #01232688;
}

.button:hover {
  /* white */
  text-shadow: #F2E7DC 0 .125rem;
}

.bigbutton {
  /* black50 */
  box-shadow: 0 .75rem #01232688;
}

.bigbutton:hover {
  /* black */
  text-shadow: #012326 0 .125rem;
}

.contact a {
  /* color 4 */
  color: #3D71D9;
}

.testimonial {
  /* color 4 */
  border-left: 3px solid #3D71D9;
}