.black {
  background-color: #012326;
}

.white {
  background-color: #F2E7DC;
}

.color1 {
  background-color: #618C03;
}

.color2 {
  background-color: #FFB102;
}

.color3 {
  background-color: #FF5E00;
}

.color4 {
  background-color: #8A96AC;
}

.color5 {
  background-color: #BE1E3C;
}

.black50 {
  background-color: #01232688;
}

.white50 {
  background-color: #F2E7DC88;
}

.color150 {
  background-color: #618C0388;
}

.color250 {
  background-color: #FFB10288;
}

.color350 {
  background-color: #FF5E0088;
}

.color450 {
  background-color: #8A96AC88;
}

.color550 {
  background-color: #BE1E3C88;
}

.blackshadow {
  text-shadow: #012326 0 .125rem;
}

.whiteshadow {
  text-shadow: #F2E7DC 0 .125rem;
}

.color1shadow {
  text-shadow: #618C03 0 .125rem;
}

.color2shadow {
  text-shadow: #FFB102 0 .125rem;
}

.color3shadow {
  text-shadow: #FF5E00 0 .125rem;
}

.color4shadow {
  text-shadow: #8A96AC 0 .125rem;
}

.color5shadow {
  text-shadow: #BE1E3C 0 .125rem;
}

.blacktext {
  color: #012326;
}

.whitetext {
  color: #F2E7DC;
}

.color1text {
  color: #618C03;
}

.color2text {
  color: #FFB102;
}

.color3text {
  color: #FF5E00;
}

.color4text {
  color: #8A96AC;
}

.color5text {
  color: #BE1E3C;
}

.titleshadow {
  /* color 5 */
  text-shadow: #BE1E3C 0 .85rem,
    /* color 1 */
    #618C03 0 1.7rem;
}

.titleshadowalt {
  /* color 3 */
  text-shadow: #FF5E00 0 .85rem,
    /* color 1 */
    #618C03 0 1.7rem;
}