.black {
  background-color: #012326;
}

.white {
  background-color: #F2E7DC;
}

.color1 {
  background-color: #B2C568;
}

.color2 {
  background-color: #789342;
}

.color3 {
  background-color: #ECC199;
}

.color4 {
  background-color: #76C1C3;
}

.color5 {
  background-color: #548D95;
}

.black50 {
  background-color: #01232688;
}

.white50 {
  background-color: #F2E7DC88;
}

.color150 {
  background-color: #B2C56888;
}

.color250 {
  background-color: #78934288;
}

.color350 {
  background-color: #ECC19988;
}

.color450 {
  background-color: #76C1C388;
}

.color550 {
  background-color: #548D9588;
}

.blackshadow {
  text-shadow: #012326 0 .125rem;
}

.whiteshadow {
  text-shadow: #F2E7DC 0 .125rem;
}

.color1shadow {
  text-shadow: #B2C568 0 .125rem;
}

.color2shadow {
  text-shadow: #789342 0 .125rem;
}

.color3shadow {
  text-shadow: #ECC199 0 .125rem;
}

.color4shadow {
  text-shadow: #76C1C3 0 .125rem;
}

.color5shadow {
  text-shadow: #548D95 0 .125rem;
}

.blacktext {
  color: #012326;
}

.whitetext {
  color: #F2E7DC;
}

.color1text {
  color: #B2C568;
}

.color2text {
  color: #789342;
}

.color3text {
  color: #ECC199;
}

.color4text {
  color: #76C1C3;
}

.color5text {
  color: #548D95;
}

.titleshadow {
  /* color 5 */
  text-shadow: #548D95 0 .85rem,
    /* color 1 */
    #B2C568 0 1.7rem;
}

.titleshadowalt {
  /* color 3 */
  text-shadow: #ECC199 0 .85rem,
    /* color 1 */
    #B2C568 0 1.7rem;
}

body {
  /* white */
  background-color: #F2E7DC;
  /* black */
  color: #012326;
}

a {
  /* color 5 */
  color: #548D95;
}

a:visited {
  /* color 1 */
  color: #B2C568;
}

.headeritem:hover {
  /* color 4 */
  color: #76C1C3;
}

.headeritemmobile:visited,
.headeritem:visited {
  /* white */
  color: #F2E7DC;
}

.curvedbox {
  /* color3 */
  border: 3px solid #ECC199
}

.button {
  /* black50 */
  box-shadow: 0 .4rem #01232688;
}

.button:hover {
  /* white */
  text-shadow: #F2E7DC 0 .125rem;
}

.bigbutton {
  /* black50 */
  box-shadow: 0 .75rem #01232688;
}

.bigbutton:hover {
  /* black */
  text-shadow: #012326 0 .125rem;
}

.contact a {
  /* color 4 */
  color: #76C1C3;
}

.testimonial {
  /* color 4 */
  border-left: 3px solid #76C1C3;
}