.black {
  background-color: #373740;
}

.white {
  background-color: #F2E7DC;
}

.color1 {
  background-color: #F2E63D;
}

.color2 {
  background-color: #F2D541;
}

.color3 {
  background-color: #BFA93B;
}

.color4 {
  background-color: #8C7F3B;
}

.color5 {
  background-color: #5699BF;
}

.black50 {
  background-color: #37374088;
}

.white50 {
  background-color: #F2E7DC88;
}

.color150 {
  background-color: #F2E63D88;
}

.color250 {
  background-color: #F2D54188;
}

.color350 {
  background-color: #BFA93B88;
}

.color450 {
  background-color: #8C7F3B88;
}

.color550 {
  background-color: #5699BF88;
}

.blackshadow {
  text-shadow: #373740 0 .125rem;
}

.whiteshadow {
  text-shadow: #F2E7DC 0 .125rem;
}

.color1shadow {
  text-shadow: #F2E63D 0 .125rem;
}

.color2shadow {
  text-shadow: #F2D541 0 .125rem;
}

.color3shadow {
  text-shadow: #BFA93B 0 .125rem;
}

.color4shadow {
  text-shadow: #8C7F3B 0 .125rem;
}

.color5shadow {
  text-shadow: #5699BF 0 .125rem;
}

.blacktext {
  color: #373740;
}

.whitetext {
  color: #F2E7DC;
}

.color1text {
  color: #F2E63D;
}

.color2text {
  color: #F2D541;
}

.color3text {
  color: #BFA93B;
}

.color4text {
  color: #8C7F3B;
}

.color5text {
  color: #5699BF;
}

.titleshadow {
  /* color 5 */
  text-shadow: #5699BF 0 .85rem,
    /* color 1 */
    #F2E63D 0 1.7rem;
}

.titleshadowalt {
  /* color 3 */
  text-shadow: #BFA93B 0 .85rem,
    /* color 1 */
    #F2E63D 0 1.7rem;
}