* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 5rem;
}

body {
  font-family: "Moon Regular", sans-serif;
  background-color: #F2E7DC;
  color: #012326;
  position: relative;
  width: 100vw;
}

video {
  margin-bottom: -3px;
  object-fit: cover;
  height: 50rem;
}

textarea {
  resize: vertical;
}

a {
  color: #5699BF;
}

a:visited {
  color: #56BFA1;
}

/* Flex */

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexbetween {
  justify-content: space-between;
}

.flexaround {
  justify-content: space-around;
}

.flexeven {
  justify-content: space-evenly;
}

.flexstart {
  justify-content: flex-start;
}

.flexcenter {
  justify-content: center;
}

.flexend {
  justify-content: flex-end;
}

.flexalignstart {
  align-items: flex-start;
}

.flexaligncenter {
  align-items: center;
}

.flexalignend {
  align-items: flex-end;
}

/* Margins, Padding, and Box Formatting */

.margincenter {
  margin: 0 auto;
}

.marginright {
  margin-right: 1rem;
}

.marginleft {
  margin-left: 1rem;
}

.margintop {
  margin-top: 1rem;
}

.marginbottom {
  margin-bottom: 1rem;
}

.marginbottomlil {
  margin-bottom: .5rem;
}

.marginbottombig {
  margin-bottom: 2rem;
}

.padded {
  padding: 1rem;
}

.doublepadded {
  padding: 2rem;
}

.rounded {
  border-radius: .75rem;
}

.height5 {
  height: 5rem;
}

.height7 {
  height: 7rem;
}

.height10 {
  height: 10rem;
}

.height20 {
  height: 20rem;
}

.height25 {
  height: 25rem;
}

.height30 {
  height: 30rem;
}

.height40 {
  height: 40rem;
}

.height40min {
  min-height: 40rem;
}

.height50 {
  height: 50rem;
}

.height80 {
  height: 80rem;
}

.width10 {
  width: 10vw;
}

.width30 {
  width: 30vw;
}

.width40 {
  width: 40vw;
}

.width45 {
  width: 45vw;
}

.widthhalf {
  width: 50%;
}

.widththird {
  width: 33.333%
}

.width60percent {
  width: 60%;
}

.width40percent {
  width: 40%;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.toplayer {
  z-index: 9;
}

.hide {
  display: none;
}

.mobileblock {
  display: none;
}

.mobileflex {
  display: none;
}

/* Text Formatting */

.whitetext {
  color: #F2E7DC;
}

.blacktext {
  color: #012326;
}

.bluetext {
  color: #5699BF;
}

.lightbluetext {
  color: #35B8F2;
}

.greentext {
  color: #56BFA1;
}

.orangetext {
  color: #F27B35;
}

.pinktext {
  color: #F2A0A0;
}

.slab {
  font-family: "Alfa Slab";
}

.light {
  font-family: "Moon Light";
}

.bold {
  font-family: "Moon Bold";
}

.capslight {
  font-family: "Moon Caps Light";
}

.capsbold {
  font-family: "Moon Caps Bold";
}

.mont {
  font-family: "Montserrat";
}

.hugetext {
  font-size: 8rem;
}

.titletext {
  font-size: 5rem;
}

.h1text {
  font-size: 3rem;
}

.h2text {
  font-size: 2.5rem;
}

.h3text {
  font-size: 2rem;
}

.h4text {
  font-size: 1.5rem;
}

.centertext {
  text-align: center;
}

.righttext {
  text-align: right;
}

.titleshadow {
  text-shadow: #5699BF 0 .85rem,
    #56BFA1 0 1.7rem;
}

.titleshadowalt {
  text-shadow: #F2A0A0 0 .85rem,
    #56BFA1 0 1.7rem;
}

.blueshadow {
  text-shadow: #5699BF 0 .125rem;
}

.greenshadow {
  text-shadow: #56BFA1 0 .125rem;
}

.pinkshadow {
  text-shadow: #F2A0A0 0 .125rem;
}

.orangeshadow {
  text-shadow: #F27B35 0 .125rem;
}

.blackshadow {
  text-shadow: #012326 0 .125rem;
}

.whiteshadow {
  text-shadow: #F2E7DC 0 .125rem;
}

.listpencil {
  list-style-image: url("img/lilpencil.png");
  padding-left: 6rem;
  line-height: 175%;
}

/* Background Colors */

.white {
  background-color: #F2E7DC;
}

.black {
  background-color: #012326;
}

.blue {
  background-color: #5699BF;
}

.lightblue {
  background-color: #35B8F2;
}

.green {
  background-color: #56BFA1;
}

.orange {
  background-color: #F27B35;
}

.pink {
  background-color: #F2A0A0;
}

.white50 {
  background-color: #F2E7DC88;
}

.black50 {
  background-color: #01232688;
}

.blue50 {
  background-color: #5699BF88;
}

.lightblue50 {
  background-color: #35B8F288;
}

.green50 {
  background-color: #56BFA188;
}

.orange50 {
  background-color: #F27B3588;
}

.pink50 {
  background-color: #F2A0A088;
}

/* Transformations */

.tilt {
  transform: rotate(-9deg);
  margin: 1rem 4rem 6rem;
  max-width: fit-content;
}

#game .tilt {
  margin: 2.5rem 4rem 6rem;
}

/* Specific Elements */

.header {
  position: sticky;
  top: 0;
  height: 5.5rem;
  font-family: "Moon Caps Light";
  z-index: 10;
}

.headeritem {
  color: #F2E7DC;
  align-self: center;
  font-size: larger;
  text-decoration: none;
  width: min-content;
  text-align: center;
}

.headermobile {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 10;
}

.headeritemmobile {
  color: #F2E7DC;
  text-decoration: none;
  font-size: 3rem;
  padding: .5rem;
  margin-left: 1rem;
  display: block;
}

.headermobile #mobileLinks {
  display: none;
}

.headermobile #hamburger {
  display: block;
  position: absolute;
  font-size: 5.6rem;
  right: 1rem;
  top: 0;
  color: #F2E7DC;
}

.headeritemmobile:hover,
.headeritem:hover {
  color: #71C8FB;
}

.headeritemmobile:visited,
.headeritem:visited {
  color: #F2E7DC;
}

.curvedbox {
  width: 15vw;
  min-height: 15vw;
  border-radius: 1rem 5rem;
  border: 3px solid #F2A0A0
}

.tallbox {
  width: 30vw;
  min-height: 25rem;
  border-radius: 1rem;
  flex-wrap: nowrap;
}

.sublink {
  cursor: pointer;
}

.button {
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 1.2rem;
  width: 30vw;
  box-shadow: 0 .4rem #01232688;
  font-family: "Moon Regular";
  display: block;
}

.button:hover {
  text-shadow: #F2E7DC 0 .125rem;
}

.button:active,
.button:focus {
  transform: translateY(0.4rem);
  box-shadow: none;
}

.bigbutton {
  box-shadow: 0 .75rem #01232688;
  cursor: pointer;
}

.bigbutton:hover {
  text-shadow: #012326 0 .125rem;
}

.bigbutton:active,
.bigbutton:focus {
  transform: translateY(0.75rem);
  box-shadow: none;
}

.contact a {
  color: #35B8F2;
  text-decoration: none;
}

.textinput {
  padding: .5rem;
  border-radius: .5rem;
  font-family: "Montserrat";
  font-size: 1rem;
  border: none;
}

.sending::after {
  display: inline-block;
  animation: dotter steps(1, end) 2s infinite;
  content: '';
}

/* Background Images */

.bgimg {
  position: relative;
  align-self: flex-start;
  object-fit: contain;
}

.bgimg>img {
  width: 100%;
  opacity: 0;
}

.bgimg>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img1 {
  background-image: url("img/hero_trivia.jpg");
  background-size: cover;
  background-position: center;
}

.img2 {
  background-image: url("img/typewriter.png");
  background-size: cover;
  background-position: center;
}

.img3 {
  background-image: url("img/host_it.png");
  background-size: cover;
  background-position: right;
}

.img4 {
  background-image: url("img/play_it.png");
  background-size: cover;
  background-position: center;
}

.img5 {
  background-image: url("img/beam_roof.png");
  background-size: cover;
  background-position: center;
}

.img6 {
  background-image: url("img/outdoor_sail.png");
  background-size: cover;
  background-position: center;
}

.img7 {
  background-image: url("img/sunset_group.png");
  background-size: cover;
  background-position: center;
}

.img8 {
  background-image: url("img/bruce_n_vicky.jpg");
  background-size: cover;
  background-position: right;
}

.img9 {
  background-image: url("img/table_group_tall.jpg");
  background-size: cover;
  background-position: center;
}

.img10 {
  background-image: url("img/sharon_on_mic.jpg");
  background-size: cover;
  background-position: center;
}

.img11 {
  background-image: url("img/trivia_taproom.jpg");
  background-size: cover;
  background-position: bottom;
}

.img12 {
  background-image: url("img/taproom_low.jpg");
  background-size: cover;
  background-position: bottom;
}

.img13 {
  background-image: url("img/thanks_flower.jpg");
  background-size: cover;
  background-position: center;
}

/* Fonts */

@font-face {
  font-family: "Moon Light";
  src:
    local("Moon2.0-Light"),
    url("fonts/Moon2.0-Light.otf");
}

@font-face {
  font-family: "Moon Regular";
  src:
    local("Moon2.0-Regular"),
    url("fonts/Moon2.0-Regular.otf");
}

@font-face {
  font-family: "Moon Bold";
  src:
    local("Moon2.0-Bold"),
    url("fonts/Moon2.0-Bold.otf");
}

@font-face {
  font-family: "Moon Caps Light";
  src:
    local("Moon Light"),
    url("fonts/Moon\ Light.otf");
}

@font-face {
  font-family: "Moon Caps Bold";
  src:
    local("Moon Bold"),
    url("fonts/Moon\ Bold.otf");
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Regular"),
    url("fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Alfa Slab";
  src:
    local("AlfaSlabOne-Regular"),
    url("fonts/AlfaSlabOne-Regular.ttf");
}

/* Animations */

@keyframes dotter {
  0% {
    content: '';
  }

  25% {
    content: '.';
  }

  50% {
    content: '..';
  }

  75% {
    content: '...';
  }

  100% {
    content: '';
  }
}

/* Media Queries */

@media (900px <=width <=1250px) {

  .desktop {
    display: none;
  }

  .smallblock {
    display: block;
  }

  .smallflex {
    display: flex;
  }

  .curvedbox {
    width: 17vw;
    min-height: 17vw;
    border-radius: 1rem 4.5rem;
    font-size: 1.3rem;
  }

  #footer .height40 {
    height: 30rem;
  }
}

@media (width < 900px) {

  html {
    font-size: 70%;
  }

  .listpencil {
    list-style-image: url("img/lilpencil70.png");
  }

  .desktop {
    display: none;
  }

  .smallblock {
    display: none;
  }

  .smallflex {
    display: none;
  }

  .mobileblock {
    display: block;
  }

  .mobileflex {
    display: flex;
  }

  .curvedbox {
    width: 25vw;
    min-height: 17vw;
    border-radius: 1rem 4rem;
  }

  .tallbox p,
  .curvedbox p {
    font-size: 2rem;
  }
}

@media (width < 600px) {
  html {
    font-size: 40%;
  }

  .listpencil {
    list-style-image: none;
    list-style-type: disc;
  }

  .mobileflex img.size70 {
    display: none;
  }

  .tallbox p,
  .curvedbox p {
    font-size: 1.5rem;
  }
}

@media (width < 330px) {
  html {
    font-size: 30%;
  }

  .listpencil {
    list-style-image: none;
    list-style-type: disc;
  }

  .mobileflex img.size70 {
    display: none;
  }

  .tallbox p,
  .curvedbox p {
    font-size: 1.5rem;
  }

  img {
    max-width: 90vw;
  }
}