* {
  box-sizing: border-box;
}

body {
  font-family: "Moon Regular", sans-serif;
  /* font-size: 16pt; */
  color: #012326
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

/* Flex */

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexbetween {
  justify-content: space-between;
}

.flexaround {
  justify-content: space-around;
}

.flexend {
  justify-content: flex-end;
}

/* Margins, Padding, and Box Formatting */

.marginright {
  margin-right: 1rem;
}

.marginleft {
  margin-left: 1rem;
}

.margintop {
  margin-top: 1rem;
}

.marginbottom {
  margin-bottom: 1rem;
}

.margincenter {
  margin: 0 auto;
}

.padded {
  padding: 1rem;
}

.rounded {
  border-radius: .25rem;
}

.height5 {
  height: 5rem;
}

.height10 {
  height: 10rem;
}

.height20 {
  height: 20rem;
}

.height40 {
  height: 40rem;
}

.height50 {
  height: 50rem;
}

.width10 {
  width: 10vw;
}

.widththird {
  width: 33.333%
}

/* Text Formatting */

.bulletlist {
  list-style-type: disc;
  margin-left: 1rem;
}

/* Background Colors */

.white {
  background-color: #FFFFFF;
}

.black {
  background-color: #012326;
}

.blue {
  background-color: #5699BF;
}

.lightblue {
  background-color: #35B8F2;
}

.green {
  background-color: #56BFA1;
}

.ivory {
  background-color: #F2E7DC;
}

.orange {
  background-color: #F27B35;
}

.pink {
  background-color: #F2A0A0;
}

.transparent {
  opacity: 66%;
}

/* Text */

.whitetext {
  color: #FFFFFF;
}

.blacktext {
  color: #012326;
}

.bluetext {
  color: #5699BF;
}

.lightbluetext {
  color: #35B8F2;
}

.greentext {
  color: #56BFA1;
}

.ivorytext {
  color: #F2E7DC;
}

.orangetext {
  color: #F27B35;
}

.pinktext {
  color: #F2A0A0;
}

.slab {
  font-family: "Alfa Slab";
}

.light {
  font-family: "Moon Light";
}

.bold {
  font-family: "Moon Bold";
}

.hugetext {
  font-size: 8rem;
  line-height: 150%;
}

.titletext {
  font-size: 5rem;
  line-height: 150%;
}

.centertext {
  text-align: center;
}

.titleshadow {
  text-shadow: #5699BF 0 1rem, 
  #56BFA1 0 2rem;
}

.blueshadow {
  text-shadow: #5699BF 0 .25rem;
}

.greenshadow {
  text-shadow: #56BFA1 0 .25rem;
}

.pinkshadow {
  text-shadow: #F2A0A0 0 .25rem;
}

/* Transformations */

.tilt {
  transform: rotate(-9deg);
  margin: 1rem 4rem;
  max-width: fit-content;
}

/* Specific Elements */

.header {
  position: sticky;
  top: 0;
  height: 5.5rem;
  font-family: "Moon Regular";
  z-index: 10;
}

.headeritem {
  color: #FFFFFF;
  align-self: center;
  font-size: larger;
}

.headeritem:hover {
  color: #71C8FB;
}

/* Background Images */

.bgimg {
  position: relative;
  align-self: flex-start;
  /* object-fit: contain; */
}

.bgimg > img {
  width: 100%;
  opacity: 0;
}

.bgimg > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img1 {
  background-image: url("img/boring_trivia.jpg");
  background-size: cover;
  background-position: bottom;
}

.img2 {
  background-image: url("img/typewriter.png");
  background-size: cover;
  background-position: center;
}

.img3 {
  background-image: url("img/host_it.png");
  background-size: cover;
  background-position: right;
}

.img4 {
  background-image: url("img/play_it.png");
  background-size: cover;
  background-position: center;
}

/* Fonts */

@font-face {
  font-family: "Moon Light";
  src: 
    local("Moon2.0-Light"),
    url("fonts/Moon2.0-Light.otf");
}

@font-face {
  font-family: "Moon Regular";
  src:
    local("Moon2.0-Regular"),
    url("fonts/Moon2.0-Regular.otf");
}

@font-face {
  font-family: "Moon Bold";
  src:
    local("Moon2.0-Bold"),
    url("fonts/Moon2.0-Bold.otf");
}

@font-face {
  font-family: "Alfa Slab";
  src:
    local("AlfaSlabOne-Regular"),
    url("fonts/AlfaSlabOne-Regular.ttf");
}