.black {
  background-color: #012326;
}

.white {
  background-color: #F2E7DC;
}

.black50 {
  background-color: #01232688;
}

.color1 {
  background-color: #0A3EA6;
}

.color2 {
  background-color: #56A1BF;
}

.color3 {
  background-color: #F2CF66;
}

.color4 {
  background-color: #F28F16;
}

.color5 {
  background-color: #F2600C;
}

.white50 {
  background-color: #F2E7DC88;
}

.color150 {
  background-color: #0A3EA688;
}

.color250 {
  background-color: #56A1BF88;
}

.color350 {
  background-color: #F2CF6688;
}

.color450 {
  background-color: #F28F1688;
}

.color550 {
  background-color: #F2600C88;
}

.blackshadow {
  text-shadow: #012326 0 .125rem;
}

.whiteshadow {
  text-shadow: #F2E7DC 0 .125rem;
}

.color1shadow {
  text-shadow: #0A3EA6 0 .125rem;
}

.color2shadow {
  text-shadow: #56A1BF 0 .125rem;
}

.color3shadow {
  text-shadow: #F2CF66 0 .125rem;
}

.color4shadow {
  text-shadow: #F28F16 0 .125rem;
}

.color5shadow {
  text-shadow: #F2600C 0 .125rem;
}

.blacktext {
  color: #012326;
}

.whitetext {
  color: #F2E7DC;
}

.color1text {
  color: #0A3EA6;
}

.color2text {
  color: #56A1BF;
}

.color3text {
  color: #F2CF66;
}

.color4text {
  color: #F28F16;
}

.color5text {
  color: #F2600C;
}

.titleshadow {
  /* color 5 */
  text-shadow: #F2600C 0 .85rem,
    /* color 1 */
    #0A3EA6 0 1.7rem;
}

.titleshadowalt {
  /* color 3 */
  text-shadow: #F2CF66 0 .85rem,
    /* color 1 */
    #0A3EA6 0 1.7rem;
}